.input_wrapper{
  display: flex;
  flex-direction: row;
  width: 15%;
  height: 2rem;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  color: rgba(255, 255, 255, 0.3);
  align-items: center;
  transition: 200ms;
}

.input_wrapper:hover{
  border: 1px rgba(255, 255, 255) solid;
  color: white;
}
.input_icon{
  display: flex;
  padding: 0 .1rem;
}
.input_icon svg{
  scale: .70;
}